<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<ul class="nav nav-sidebar" id="adminsidebar">
    <li th:class="${url=='books' ? 'nav-link active' : 'nav-link'}" ><a th:href="@{/book/books}" >图书列表</a></li>
    <li style="margin-top: 10px" th:class="${url=='addBook' ? 'nav-link active' : 'nav-link'}" ><a th:href="@{/book/add}">新增图书</a></li>
    <li th:class="${url=='users' ? 'nav-link active' : 'nav-link'}"><a th:href="@{/user/users}">用户管理</a></li>
    <li><a th:href="@{/logout}">退出</a></li>
</ul>
</body>
</html>
