<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>购物车管理</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Custom styles for this template -->
    <link th:href="@{resource/css/dashboard.css}" rel="stylesheet">
    <link rel="icon" href="../../favicon.ico">
</head>

<body>
<div ></div>
<span th:if="${session.user != null}" class="navbar-brand" style="font-size: 25px">当前用户为： [[${session.user.username}]]</span>
<div class="container-fluid">
    <div class="row">
        <div></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!--<div th:switch="${session.cart.getTotalPrice()}">
                <div th:case="null" th:if="${session.cart ne null}">
                    <h3><a th:href="@{/cart/confirm}" class="btn btn-primary">下单</a></h3>
                </div>
                <div th:case="*">
                    <span class="navbar-brand" style="font-size: 25px">总价为：[[${session.cart.getTotalPrice()}]]</span>
                    <h3><a th:href="@{/order/orderInfo}" th:if="${session.cart.getTotalPrice()} != '0.0'" class="btn btn-primary">确认下单</a></h3>
                </div>
            </div>-->
            <span class="navbar-brand" style="font-size: 25px">总价为：[[${session.cart.getTotalPrice()}]]</span>

            <div th:switch="${session.cart.getTotalPrice()}">
                <div th:case="'0.0'" th:if="${session.cart ne null}">
                    <h3><a th:href="@{/cart/toBuy}" class="btn btn-primary">去挑选书吧</a></h3>
                </div>
                <div th:case="*">
                    <h3><a th:href="@{/order/orderInfo}" class="btn btn-primary">确认下单</a></h3>
                </div>
            </div>

            <div class="form-group">
            </div>
            <div th:switch="${session.cart}">
                <div th:case="null">
                    <span class="navbar-brand" style="font-size: 25px">购物车空空如也</span>
                </div>
                <div th:case="*">
                    <a class="btn btn-sm btn-primary" th:href="@{/cart/reset}" th:if="${session.cart.getTotalPrice()} != '0.0'">清空购物车</a>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>书名</th>
                                <th>数量</th>
                                <th>计价</th>
                                <th>修改数量</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cartItem:${session.cart.cartItems}">
                                <td th:text="${cartItem.book.bookName}"></td>
                                <td th:text="${cartItem.quantity}"></td>
                                <td th:text="${cartItem.subTotal}"></td>
                                <td>
                                    <a class="btn btn-sm btn-primary" th:href="@{/cart/increase/}+${cartItem.book.id}">加一</a>
                                    <a class="btn btn-sm btn-primary" th:href="@{/cart/decrease/}+${cartItem.book.id}">减一</a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" th:href="@{/cart/delete/}+${cartItem.book.id}">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <h4><a th:href="@{/index}" class="btn btn-primary">返回首页</a></h4>&nbsp;<h4><a th:href="@{/doLogout}" class="btn btn-primary">退出登录</a></h4>
    </div>
</div>
</body>
</html>