<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>确认订单信息</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <form role="form" method="post" th:action="@{/order/orderInfo}">
            <div class="form-group">
                <label>收货人</label>
                <input name="username" type="text" class="form-control" placeholder="收货人">
            </div>
            <div class="form-group">
                <label>电话</label>
                <input name="phoneNumber" type="text" class="form-control" placeholder="电话">
            </div>
            <div class="form-group">
                <label>地址</label>
                <input name="address" type="text" class="form-control" placeholder="收货地址">
            </div>
            <button type="submit" class="btn btn-sm btn-primary">确认订单</button>
        </form>
    </main>
</div>
</body>
</html>