<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div th:if="${session.user != null}" th:text="${'欢迎您，' + session.user.username}" style="color: dodgerblue; float: left;"></div><br><br>
<div th:switch="${session.user.username}">
    <div th:case="'admin'">
        <a href="/book/books">图书后台管理</a><br>
        <a href="/user/users">用户管理系统</a><br>
    </div>
    <div th:case="*">
        <a href="/shopping/display">图书列表</a><br>
        <a href="/shopping/cart">购物车</a><br>
        <a href="/shopping/orders">订单管理</a><br>
        <a href="/uesr/settings">个人中心</a><br>
    </div>
</div>
<div style="color: dodgerblue;float: right;"><a href="doLogout">注销</a></div>
</body>
</html>

