<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<div th:if="${session.user != null}" th:text="${'欢迎您，' + session.user.username}" style="color: dodgerblue; float: left;"></div><br><br>
<div th:switch="${session.user.username}">
    <div th:case="'admin'">
        <a href="/book/books">图书后台管理</a><br>
        <a href="/admin/user/users">用户管理系统</a><br>
    </div>
    <div th:case="*">
        <a href="/book/books">图书列表</a><br>
        <a href="/cart/cartItems">购物车</a><br>
        <a href="/order/orders">订单管理</a><br>
        <a th:href="@{/user/updateProfile/}+${session.user.id}">个人中心</a><br>
    </div>
</div>
<div style="color: dodgerblue;float: right;"><a href="doLogout">注销</a></div>
</body>
</html>

