<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div th:text="${msg}" style="color: red"></div>
<form action="doLogin" method="post">
    用户名：<input type="text" id="username" name="username" /><br/>
    密码：<input type="password" id="password" name="password" /><br/><br/>
    <input type="submit" value="登录" />&nbsp;<input type="reset" value="重置" />
</form>
<div>
    <a th:if="${msg} ne '注册成功，请登录'" th:href="register">注册</a>
</div>
</body>
</html>