<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<div th:text="${msg}" style="color: red"></div>
<form action="doRegister" method="post">
    用户名：<input type="text" id="username" name="username" /><br/>
    密码：<input type="password" id="password" name="password" /><br/>
    邮箱:<input type="text" id="email" name="email"> <br/><br/>
    <input type="submit" value="注册" />&nbsp;<input type="reset" value="重置" />
</form>
</body>
</html>